.todoBody {
  --bg-color: var(--color-gray-50);
  --container-bg: var(--color-white);
  --text-primary: var(--color-navy-850);
  --text-footer: var(--color-gray-600);
  --text-done: var(--color-gray-300);
  --border-bottom: var(--color-purple-100);
  --filter-btn: var(--color-gray-600);
  --todo-boxShadow: 0 2.1875rem 3.125rem -0.9375rem rgba(194, 195, 214, 0.5);
  --bg-image: url("../../assets/lightThemeBg.png");
  --button-bg: url("../../assets/darkMode.svg");
  background-color: var(--bg-color);
  min-height: 100vh;
  transition:
    background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkTheme {
  --bg-color: var(--color-navy-950);
  --container-bg: var(--color-navy-900);
  --text-primary: var(--color-purple-100);
  --text-done: var(--color-purple-700);
  --text-footer: var(--color-purple-600);
  --border-bottom: var(--color-purple-800);
  --filter-btn: var(--color-purple-600);
  --todo-boxShadow: 0 2.1875rem 3.125rem -0.9375rem rgba(0, 0, 0, 0.5);
  --bg-image: url("../../assets/darkThemeBg.png");
  --button-bg: url("../../assets/lightMode.svg");
}

.todoHeader {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  padding-bottom: 6.25rem;
}

.todoContainer {
  width: 100%;
  max-width: 36.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
